body {
  background-color: #080808;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-top: 5px;
  margin-bottom: 5px;
}
h1 button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 20px;
}
h1 button:active {
  transform: scale(1.1);
}

.display {
  position: relative;
  height: 100px;
}
.display div {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: black;
  cursor: pointer;
}
.display div:active {
  transform: scale(1.015);
  filter: brightness(105%);
  transition: all 0.05s;
}
.display div#color {
  display: flex;
  width: 70%;
  left: 15%;
  justify-content: center;
  align-items: center;
}
.display div#darker {
  left: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.display div#dark {
  width: 5%;
  left: 10%;
}
.display div#light {
  width: 5%;
  right: 10%;
}
.display div#lighter {
  right: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#sliders {
  margin-top: 10px;
}
#sliders article {
  margin-top: 10px;
}
#sliders article input {
  -webkit-appearance: none;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
#sliders article input::-moz-range-thumb {
  width: 5px;
  height: 40px;
  background: transparent;
  border: 1px solid #fff;
  cursor: ew-resize;
}

.footer {
  position: fixed;
  display: inline-block;
  bottom: 10px;
  right: 10px;
  padding: 7px;
  border-radius: 10px;
  background-color: #111a;
  color: #ddd;
}
.footer:not(:hover) {
  text-decoration: none;
}
.footer:focus-visible {
  outline: 2px solid white;
}