body {
  background-color: #080808;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-top: 5px;
  margin-bottom: 5px;

  button {
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 20px;

    &:active {
      transform: scale(1.1);
    }
  }
}

.display {
  $size_a: 10%;
  $size_b: 5%;

  position: relative;
  height: 100px;

  div {
    position: absolute;
    width: $size_a;
    height: 100%;
    background-color: black;
    cursor: pointer;

    &:active {
      transform: scale(1.015);
      filter: brightness(105%);
      transition: all 0.05s;
    }

    &#color {
      display: flex;
      width: #{100% - $size_a * 2 - $size_b * 2};
      left: #{$size_a + $size_b};
      justify-content: center;
      align-items: center;
    }

    &#darker {
      left: 0;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &#dark {
      width: $size_b;
      left: $size_a;
    }

    &#light {
      width: $size_b;
      right: $size_a;
    }

    &#lighter {
      right: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

#sliders {
  margin-top: 10px;

  article {
    display: flex;
    margin-top: 10px;

    input {
      -webkit-appearance: none;
      width: 200px;
      height: 30px;
      border-radius: 5px;
      cursor: pointer;

      &::-moz-range-thumb {
        width: 5px;
        height: 40px;
        background: transparent;
        border: 1px solid #fff;
        cursor: ew-resize;
      }
    }

    label {
      display: flex;
      align-items: center;
      margin-left: 5px;

      span {
        margin-left: 5px;
        opacity: 0.7;
      }
    }
  }
}

.footer {
  position: fixed;
  display: inline-block;
  bottom: 10px;
  right: 10px;
  padding: 7px;
  border-radius: 10px;
  background-color: #111a;
  color: #ddd;

  &:not(:hover) {
    text-decoration: none;
  }

  &:focus-visible {
    outline: 2px solid white;
  }
}
