body {
  background-color: #080808;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  margin-top: 5px;
  margin-bottom: 5px;
}
.header .text {
  background: rgba(0, 0, 0, 0) linear-gradient(to right, #ff5454ff, #ff8754ff, #ffbb54ff, #ffee54ff, #ddff54ff, #aaff54ff, #76ff54ff, #54ff65ff, #54ff98ff, #54ffccff, #54ffffff, #54ccffff, #5498ffff, #5465ffff, #7654ffff, #aa54ffff, #dd54ffff, #ff54eeff, #ff54bbff, #ff5487ff, #ff5454ff) repeat scroll 0%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 20px;
}
.header button:active {
  transform: scale(1.1);
}

.display {
  position: relative;
  height: 100px;
}
.display div {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: black;
  cursor: pointer;
}
.display div:active:not(:focus-within) {
  transform: scale(1.015);
  filter: brightness(105%);
  transition: all 0.05s;
}
.display div#color {
  display: flex;
  width: 70%;
  left: 15%;
  justify-content: center;
  align-items: center;
}
.display div#color #hex {
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: inherit;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  width: 4.6em;
  outline: none;
  pointer-events: fill;
}
.display div#color #hex:focus {
  text-decoration: underline;
}
.display div#darker {
  left: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.display div#dark {
  width: 5%;
  left: 10%;
}
.display div#light {
  width: 5%;
  right: 10%;
}
.display div#lighter {
  right: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#sliders {
  margin-top: 10px;
}
#sliders article {
  display: flex;
  margin-top: 10px;
}
#sliders article input {
  -webkit-appearance: none;
  flex-shrink: 0;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
#sliders article input::-moz-range-thumb {
  width: 5px;
  height: 40px;
  background: transparent;
  border: 1px solid #fff;
  cursor: ew-resize;
}
#sliders article .label {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
#sliders article .label span {
  margin-left: 5px;
  opacity: 0.7;
}
@media (max-width: 350px) {
  #sliders article {
    display: block;
    margin-top: 5px;
  }
  #sliders article .label {
    margin-top: 2px;
    margin-left: 0;
  }
}

.footer {
  position: fixed;
  display: inline-block;
  bottom: 10px;
  right: 10px;
  padding: 7px;
  border-radius: 10px;
  background-color: #111a;
  color: #ddd;
}
.footer:not(:hover) {
  text-decoration: none;
}
.footer:focus-visible {
  outline: 2px solid white;
}