body {
  background-color: #080808;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-top: 5px;
  margin-bottom: 5px;

  button {
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 20px;

    &:active {
      transform: scale(1.1);
    }
  }
}

#display {
  display: flex;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  background-color: black;
  justify-content: center;
  align-items: center;
}

#sliders {
  margin-top: 10px;

  article {
    margin-top: 10px;

    input {
      -webkit-appearance: none;
      width: 200px;
      height: 30px;
      border-radius: 5px;

      &::-moz-range-thumb {
        width: 5px;
        height: 40px;
        background: transparent;
        border: 1px solid #fff;
        cursor: pointer;
      }
    }
  }
}

.footer {
  position: fixed;
  display: inline-block;
  bottom: 10px;
  right: 10px;
  padding: 7px;
  border-radius: 10px;
  background-color: #111a;
  color: #ddd;

  &:not(:hover) {
    text-decoration: none;
  }

  &:focus-visible {
    outline: 2px solid white;
  }
}
